<div id="A3Lambaad" [ngStyle]="{marginTop: '30px'}">
<app-header-lambaad [HFlambaad]="profileLambaad"></app-header-lambaad>
<mat-toolbar [ngStyle]="{textAlign: 'center'}">
    <a [ngStyle]="{flex : '1 1'}" routerLink="/ace" routerLink="/">
    <button mat-raised-button color="accent">Ace of Spades</button>
    </a>
    <a [ngStyle]="{flex : '1 1'}" routerLink="/king">
    <button mat-raised-button color="accent">King of Diamonds</button>
    </a>
    <a [ngStyle]="{flex : '1 1'}" routerLink="/queen">
    <button mat-raised-button color="accent">Queen of Hearts</button>
    </a>
    <a [ngStyle]="{flex : '1 1'}" routerLink="/jack">
    <button mat-raised-button color="accent">Jack of Clubs</button>
    </a>
</mat-toolbar>
<router-outlet></router-outlet>
<app-footer-lambaad [HFlambaad]="profileLambaad"></app-footer-lambaad>
</div>
